.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 8px;
  position: fixed;
  background-color: var(--color-dark-1);
  width: calc(100% - 16px);
  z-index: 999;
}

.header-logo {
  width: 160px;
}

.header-singup {
  cursor: pointer;
  color: var(--color-pink);
}

.header-wrapper {
  display: flex;
  max-width: 996px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
